@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
.header{
    background: url("./assets/img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
    width: 100%;
}
.wrapper{
    display: table;
    height: 100vh;
    width: 100%;
}
.content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
    .content img{
        border-radius: 200%;
        cursor: pointer;
        animation: logo 10s infinite ease;
    }
        @keyframes logo{
            0%{
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
            }
            10%{
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            50%{
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
            }
            80%{
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            100%{
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
            }
        }
    .content > #versione{
        color: white;
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 300;
        margin-top: 10px;
    }
    .content > #benvenuto{
        color: white;
        padding-top: 5px;
        font-weight: 300;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }